<div>
	{% if status is not defined %}

		<form action="creer_film" method="post">
			<label for "titre">Titre</label>
			<input type="text" name='titre'><br>

			<label for "realisateur">Realisateur</label>
			<input type="text" name='realisateur'><br>

			<label for "affiche">Affiche</label>
			<input type="text" name='affiche'><br>

			<label for "annee">Annee</label>
			<input type="text" name='annee'><br><br>

			<label for "nom">Nom acteur</label>
			<input type="text" name='nom'><br>

			<br><label for "prenom">Prenom acteur</label>
			<input type="text" name='prenom'><br><br>

			<button type="submit">Ajouter un film</button>

		</form>

	{% else %}

		<p>{{status}}:</p>

		{% if film is defined %}
			{{film.get_titre}}:
			{{film.get_realisateur}}
			{{film.get_affiche}}
			{{film.get_annee}}
		{% endif %}

		{% if acteur is defined %}
			{{acteur.get_nom}}:
			{{acteur.get_prenom}}
		{% endif %}

	{% endif %}

	<br><button style="margin-top:20px">
		<a href="films" style="text-decoration: none; color: black;">Revenir à la page offres</a>
	</button>

</div>
