{% for film in allFilms %}
	<form action="supprimer_film" method="post">
		<div class="container">
			<label for="titre" class="film">
				<b>{{film.get_titre}}:</b>
			</label>
			<label for="realisateur" class="film">
				<b>{{film.get_realisateur}}</b>
			</label>
			<label for="affiche" class="film">
				<b>{{film.get_affiche}}</b>
			</label>
			<label for="annee" class="film">
				<b>{{film.get_annee}}</b>
			</label>

			<input value="{{film.get_idFilm}}" name="idFilm" type="hidden">
			<label for="" class="film">
				<button class="delete" type="submit">Delete</button>
				<label></div>
			</form>

		{% endfor %}

		{% for acteur in allActeurs %}
			<label for="nom" class="film">
				<b>{{acteur.get_nom}}:</b>
			</label>
			<label for="prenom" class="film">
				<b>{{acteur.get_prenom}}</b>
			</label>
			<input value="{{acteur.get_idActeur}}" name="idActeur" type="hidden">

		{% endfor %}


		<button class="ajout">
			<a href="creer_film" style="text-decoration: none; color: black">Creer un film</a>
		</button>
		{# </div> #}
