<div>
	<h1 class="mx-3">Gestion des utilisateurs</h1>
	<div class="container my-5">
		<div class="row text-success">{{msg}}</div>
		<div class="row text-danger">{{error}}</div>
		<div class="row">
			<div class="col-2">Nom d'utilisateur</div>
			<div class="col-2">Email</div>
		</div>
		{% for user in users %}
            <form method="post" action="./?action=modify_user" class="row my-1">
                <input type="text" name="userName" value="{{ user.userName }}" class="col-2">
                <input type="text"  name="email" value="{{user.email}}" class="col-2">
                <input type="hidden" name="idUser" value="{{user.idUser}}">
                <input type="submit" value="Modifier" class="btn btn-primary col-1">
                <button class="btn btn-danger col-1">
                    <a href="./?action=delete_user&id={{user.idUser}}">Supprimer</a>
                </button>
                <button class="btn btn-outline-primary col-2">
                    <a href="./?action=modify_password_user&id={{user.idUser}}">Modifier mot de passe</a>
                </button>
            </form>
        {% endfor %}
	</div>
</div>
