<div class="container-fluid " style="background-color: gainsboro; margin-bottom: 20px">
	<div class="row">

		<div class="col">
			<h1>Rechercher un film</h1>
			<label class="form-label">Saisir un mot du titre</label>

		</div>

	</div>

	<div class="row ">
		<div class="col">

			<form method="post" class="row g-2 text-center">
				<div class="col-auto">
					<input type="text" name='titre' class="form-control">
				</div>
				<div class="col-auto">
					<button class="btn btn-primary" type=" submit" style="margin-bottom : 5px;">Rechercher</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row text-danger">{{error}}</div>
</div>

<div class="container-fluid" style=" width:100%; display: flex; justify-content: center; align-items: center;">
	{% if film is defined %}
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style=" width: 100%; height:100%">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="card" style="">
						<div class="container">
							<div class="row">
								<div class="col-7" style="width:50%;">
									<h5 class="card-title">{{film.get_titre}}({{film.get_annee}})</h5>
									<img src=" {{film.get_affiche}} " class=" card-img-top" alt=" ..."></div>

								<div class="col-5">
									<div class="card-body">
										<br><h6>Acteurs:</h6><br>
										{% for role in film.get_tabRoles %}
											<h6>{{role.get_nom}}
												{{role.get_prenom}}
												({{role.get_personnage}})</h6>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% for movie in films %}
					<div class="carousel-item">
						<div class="card" style="">
							<div class="container">
								<div class="row">
									<div class="col-6" style="width:50%">
										<h5 class="card-title">{{movie.get_titre}}({{movie.get_annee}})</h5>
										<img src="{{movie.get_affiche}}" class="card-img-top" alt="...">
									</div>

									<div class="col-6">
										<div class="card-body">
											<br><h6>Acteurs:</h6><br>
											{% for role in movie.get_tabRoles %}
												<h6>{{role.get_nom}}
													{{role.get_prenom}}
													({{role.get_personnage}})</h6>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	{% endif %}
</div>
